<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="C:\ZusatzSW\HkwgConverter\log\logfile_${shortdate}.log" 
            xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </targets>
  </nlog>
  <applicationSettings>
    <HkwgConverter.Settings>
      <setting name="InboundWatchFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\Eingang\</value>
      </setting>
      <setting name="InboundSuccessFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\Eingang\OK\</value>
      </setting>
      <setting name="InboundErrorFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\Eingang\NOK\</value>
      </setting>
      <setting name="InboundDropFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\EB-K\EnergyStar\Importpfad\</value>
      </setting>
      <setting name="OutboundWatchFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\ZuBearbeiten\</value>
      </setting>
      <setting name="OutboundSuccessFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\ZuBearbeiten\OK\</value>
      </setting>
      <setting name="OutboundErrorFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\ZuBearbeiten\NOK\</value>
      </setting>
      <setting name="OutboundDropFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>X:\FTP\SWCB\Ausgang\</value>
      </setting>
      <setting name="WorkflowStoreFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>C:\ZusatzSW\HkwgConverter\data\</value>
      </setting>
    </HkwgConverter.Settings>
  </applicationSettings>
</configuration>