<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="developmentModeUserId" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="developmentMode" value="false" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>